<div id="user-info-container">
	<div id="user-container" class=" circle-user">
	    <img src="{{ asset('game/assets/avatar-nene.png')}}" width="55">
	</div>
	<div id="insignia-container">
		<div class="insignia-row" >
			<span class="label-insignia cant-insignia-water"></span>
			<img src="{{ asset('game/assets/insignias/insignia-water.png') }}" width="25" data-toggle="popover" data-content="Insignias <b>Acuaria</b>."><br>
		</div>
		<div class="insignia-row">
			<span class="label-insignia cant-insignia-energy"></span>
			<img src="{{ asset('game/assets/insignias/insignia-energy.png') }}" width="25" data-toggle="popover" data-content="Insignias <b>Enérgicas</b>."><br>
		</div>
		<div class="insignia-row">
			<span class="label-insignia cant-insignia-recycling"></span>
			<img src="{{ asset('game/assets/insignias/insignia-recycling.png') }}" width="25" data-toggle="popover" data-content="Insignias <b>Recicladas</b>.">
		</div>
	</div>
</div>