{% extends 'GmaSiteBundle:Layout:layout.html.twig' %}

{% block content %} 
<div class="container">
	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron">
		<span class="glyphicon glyphicon-volume-off btn-sound small-circle white"></span>
		<h1 class="text-center"><span class="yellow">ECO ESCOLAR</span></h1>
		<p>
			Si eres docente y te interesa enseñarle a los chicos cómo cuidar el ambiente desde su casa,<br> 
			ECODAL te ayuda.<br>
			Podrás organizar encuentros en tiempo real entre tus estudiantes.<br> 
			Los chicos competirán entre sí por las insignias mientras aprenden.<br>
			Al final de la sesión ECODAL genera 4 preguntas sobre el cuidado del medio ambiente desde el hogar permitiéndote conocer el nivel de aprendizaje de los niños y sus debilidades para transformarlas en fortalezas.
		</p>
		<p>
			<strong class="blue">Los pasos que tienes que seguir son:</strong><br><br>
			<strong class="green">1-</strong> Iniciar sesión como docente.<br>
			<strong class="green">2-</strong> Invitar a los chicos a la sesión.<br>
			<strong class="green">3-</strong> Incluir el tiempo que durará el actividad y listo.<br>
		</p>
	</div>
</div> <!-- /container --> 
{% endblock %}