{% extends 'GmaSiteBundle:Layout:layout.html.twig' %}

{% block content %} 
<div class="container">
	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron">
		<h1 class="text-center"><span class="red">ECO DNI</span></h1>
		<img id="credencial" src="{{ asset('img/eco-dni.png')}}" width="650">
	
	</div>
</div> <!-- /container --> 
{% endblock %}