{% extends 'GmaSiteBundle:Layout:layout.html.twig' %}

{% block content %} 
<div class="container">
	<!-- Main component for a primary marketing message or call to action -->
	<div id="index-jumbotron" class="jumbotron">
		<a href="{{ url('gma_game_home') }}" target="_blank"><img id="btn-play" src="{{ asset('img/btn-play.png')}}"></a>	
	</div>
</div> <!-- /container --> 
<script type="text/javascript">

createjs.Sound.registerSound("/audio/bienvenida.mp3", "au-bienvenida");
createjs.Sound.addEventListener("fileload", createjs.proxy(this.loadHandler, this));

 function loadHandler(event) {
     // This is fired for each sound that is registered.
     var instance = createjs.Sound.play("au-bienvenida"); 
     instance.addEventListener("complete", createjs.proxy(this.handleComplete, this));
     instance.volume = 0.5;
 }

</script>
{% endblock %}