{% extends 'GmaSiteBundle:Layout:layout.html.twig' %}

{% block content %} 
<div class="container">
	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron">
		<h1 class="text-center"><span class="red">GUA</span><span class="green">RDIANES</span><span class="yellow"> DEL MED</span><span class="blue">IO AMBIENTE</span></h1>		
		<p>This example is a quick exercise to illustrate how the default, 
			static and fixed to top navbar work. It includes the responsive CSS and HTML,
			 so it also adapts to your viewport and device.</p>		
		<center>
			<a class="circle btn btn-lg btn-success img-circle" href="{{ url('gma_game_home') }}" target="_blank">
				JUGAR				
			</a>
		</center>	
	</div>
</div> <!-- /container --> 
{% endblock %}