{% extends 'GmaSiteBundle:Layout:layout.html.twig' %}

{% block content %} 
<div class="container">
	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron" id="proyect-content">
		<h1 class="text-center"><span class="green">ECO PROYECTO</span></h1>
		<h3 class="blue">Problemática</h3>
		<p>
			Hemos detectado que cotidianamente, tanto en las viviendas como en todos los ambitos de vivencias en general,( escuelas, hospitales, clubes, reparticiones publicas, vecindarios, etc) se hace un mal uso y derroche de agua ,energias varias e incluso residuos.Malos habitos , desconocimiento o incluso acciones inconscientes llevan a un gasto innecesario de ellos, fundamentales para nuestro querido planeta.
		</p>
		<h3 class="blue">Solución planteada</h3>
		<p>A partir de un juego interactivo, los niños podran ir encontrando soluciones amigables con el medioambiente , su entorno y las energias en general.Se les ofrecen tips correctivos y formativos que, en la medida que los aplique, le permitiran ir convirtiendose en un heroe, guardian , etc (de energias varias , ademas del agua, residuos, etc ).
		Podra extender su capacidad cuidadora , partiendo de su propia vivienda , llegando a interactuar con sus amigos vecinos e ir incorporando su cuadra, barrio, escuela, etc a medida que vaya superando las dificultades que le plantee el juego.
		De esta manera ira incorporando habitos conscientes y correctos en relacion a los usos eficientes de las energias y recursos naturales
		Creemos firmemente que los ninos son agentes multiplicadores de estas pequenas acciones cotidianas, con lo cual, hemos , incluso testeado los personajes , las acciones expuestas en el juego y los relatos de las historias en dos escuelas de la provincia de Buenos Aires,(partido de Gral. San Martin) teniendo muy buena recepcion de la propuesta.Hubieron aspectos de los personajes que han sido modificados en virtud de estos encuentros.
		Tambien se converso con un grupo de docentes, quienes colaboraron con su vision pedagogica y con algunos padres, que evaluaron positivamente el ingreso de datos para recoleccion de informacion estadistica en distintas instancias de la aplicacion .
		Desde el punto de vista de la estadistica descriptiva, se podran evaluar diferentes rangos entre los valores maximos y minimos aconsejables de consumos por zonas,permitiendo obtener una idea de la dispersion y mal uso cotidiano.
		Esto permitiria, por ejemplo, reforzar campanas de usos correctivos y de concientizacion hacia la energia o recurso que haya sido detectada con mayor falencia de uso
			</p>
	</div>
</div> <!-- /container --> 
{% endblock %}