{% extends 'GmaSiteBundle:Layout:layout.html.twig' %}

{% block content %} 
<div class="container">
	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron">
		<h1>Proyecto</h1>
	</div>
</div> <!-- /container --> 
{% endblock %}