{% extends 'GmaSiteBundle:Layout:layout.html.twig' %}

{% block content %} 
<div class="container">
	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron">
		<h1>Guardianes del Medioambiente</h1>
		<p>
			<div class="thumbnail">
				<img href="{{ asset('img/hombre.jpg') }}" width="250" height="400"  >
			</div>
			<div class="thumbnail">
				<img href="{{ asset('img/mujer.jpg') }}" width="250" height="400" >
			</div>
		</p>
		<p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
		<p>To see the difference between static and fixed top navbars, just scroll.</p>
		<p class="text-center">
			<a class="btn btn-lg btn-success" href="{{ url('gma_game_home') }}">JUGAR</a>
		</p>
	</div>
</div> <!-- /container --> 
{% endblock %}