{% extends 'GmaSiteBundle:Layout:layout.html.twig' %}

{% block content %} 
<div class="container">
	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron" style="height:750px">
		<h1 class="text-center"><span class="blue">ECO TIPS</span></h1>
		<div class="alert alert-warning tip">
			<h3>Luz</h3> 
				Cuando salgas de una habitación y quede desocupada apaga las luces.<br> 
				Tener la luz encendida sin necesidad, genera desperdicio y contaminación.<br>
				<span class="glyphicon glyphicon-volume-off small-circle white"></span>
				<span class="glyphicon glyphicon-volume-up small-circle white"></span>
		</div> 
		<div class="alert alert-warning tip">
			<h3>Aire acondicionado</h3> 
				Si hace calor, abre las ventanas de la casa y deja circular el aire libremente.<br>
				Ahorrarás en consumo de energía mientras refrescas naturalmente el ambiente.<br>
				<span class="glyphicon glyphicon-volume-off small-circle white"></span>
				<span class="glyphicon glyphicon-volume-up small-circle white"></span> 
		</div> 
		<div class="alert alert-info tip">
			<h3>Cepillado de dientes</h3>
			Mientras lavas tus dientes, cierra la llave del agua. Ahorrarás hasta 20 litros de agua limpia.<br>
			<span class="glyphicon glyphicon-volume-off small-circle white"></span>
			<span class="glyphicon glyphicon-volume-up small-circle white"></span>
		</div>
		<div class="alert alert-info tip">
			<h3>Ducharse</h3>
			Cuando estés en la ducha no juegues con el agua.  Bañarse dejando correr el agua puede hacerte desperdiciar hasta 100 litros cada 5 minutos.<br>
			<span class="glyphicon glyphicon-volume-off small-circle white"></span>
			<span class="glyphicon glyphicon-volume-up small-circle white"></span>
		</div>
		<div class="alert alert-success tip">
			<h3>Reciclaje</h3>
			Separa los desechos en botes de basura diferentes, por ejemplo, orgánico, plástico, papel y vidrio. 
			Así disminuyes la contaminación del planeta, evitando la acumulación de residuos en ríos, quebradas y otros espacios naturales.<br>
			<span class="glyphicon glyphicon-volume-off small-circle white"></span>
			<span class="glyphicon glyphicon-volume-up small-circle white"></span>
		</div>
	</div>
</div> <!-- /container --> 
{% endblock %}