body {
  background: url(/img/fondo.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.tbl-select-avatar{margin:auto;width:540px;}
.tbl-select-avatar td{width:270px;text-align:center;}
.img-avatar{width:230px;}