canvas {
    border: 1px solid red;
}

#gma_container {
    position: relative;
}

.gma_canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#avatar-selected {
    display: none;
}

#game-container {
}

.tbl-select-avatar {
    margin: auto;
    width: 540px;
}

.tbl-select-avatar td {
    width: 270px;
    text-align: center;
}

.img-avatar {
    width: 230px;
}