body {background: url(/img/fondo.jpg) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
canvas {
    border: 1px solid red;
}
.circle{margin:0 auto; margin-top:9px; margin-bottom:9px;color:#fff !important;display:block;width:66px;height:66px;border-radius:33px;border:5px solid #fff;font-size:26px;line-height:59px;text-align:center;text-decoration:none;cursor:pointer;}
.circle a{color:#fff !important;}
.circle-home{border-radius:30px;float:left;height:60px;line-height:43px;width:60px;margin-right: 6px;}
.circle-user{border-radius:75px;height:150px;line-height:145px;width:150px;}
.circle:hover{text-decoration:none;}
.bg-green{background-color:#5cb85c;}
.bg-green:hover{background-color:#4cae4c;}
.bg-blue{background-color:#428bca;}
.bg-blue:hover{background-color:#357ebd;}
.bg-red{background-color:#d9534f;}
.bg-red:hover{background-color:#ac2925;}
.progress{width:100px !important; height: 19px; margin:0 auto; margin-top:1px; margin-bottom:5px; border:1px solid #eee;} 
.progress-label{font-weight: bold; font-size: 12px; margin:1px; margin-left:5px;color:#000;}
/*HOME*/
#home-container{clear:fixed; margin-top: 50px;}
.home-progress{width:165px !important;height:30px;}

.control-panel{background-color: rgba(255, 197, 42, 0.8); border-radius:8px;border:2px solid #fff; height: 560px !important;}
#gma_container {
    position: relative;   
}

.gma_canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#avatar-selected {
    display: none;
}

#game-container {
}

.tbl-select-avatar {
    margin: auto;
    width: 540px;
}

.tbl-select-avatar td {
    width: 270px;
    text-align: center;
}

.img-avatar {
    width: 230px;
}