body {background: url(/img/fondo.jpg) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
canvas {
    border: 1px solid red;
}
.circle{margin:0 auto; margin-top:9px; margin-bottom:9px;color:#fff !important;display:block;width:70px;height:70px;border-radius:35px;border:5px solid #fff;font-size:26px;line-height:63px;text-align:center;text-decoration:none;cursor:pointer;}
.circle a{color:#fff !important;}
.circle-home{width:110px;height:110px;border-radius:55px;line-height:93px;}
.circle-user{width:150px;height:150px;border-radius:75px;line-height:145px;}
.circle:hover{text-decoration:none;}
.bg-green{background-color:#5cb85c;}
.bg-green:hover{background-color:#4cae4c;}
.bg-blue{background-color:#428bca;}
.bg-blue:hover{background-color:#357ebd;}
.bg-red{background-color:#d9534f;}
.bg-red:hover{background-color:#ac2925;}
.progress{width:160px !important; height: 20px; margin:0 auto; margin-top:2px; margin-bottom:10px;} 
.control-panel{background-color: rgba(255, 197, 42, 0.9); border-radius:8px;border:2px solid #fff; height: 525px !important;}
#gma_container {
    position: relative;   
}

.gma_canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#avatar-selected {
    display: none;
}

#game-container {
}

.tbl-select-avatar {
    margin: auto;
    width: 540px;
}

.tbl-select-avatar td {
    width: 270px;
    text-align: center;
}

.img-avatar {
    width: 230px;
}